    <!-- navbar -->
    <!-- E comportamento responsivo de colapsar, a partir de telas com tamanho menor que "md". -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="index.html">Arraial | Marketplace</a>
        <button class="navbar-toggler" type="button" 
                  data-bs-toggle="collapse" 
                  data-bs-target="#navbarSupportedContent" 
                  aria-controls="navbarSupportedContent" 
                  aria-expanded="false" 
                  aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Gerenciar produtos</a>
            </li>
            <nav class="navbar navbar-light bg-light">
              <form class="container-fluid justify-content-start">
                <button class="btn btn-outline-danger me-2" type="button">Sair</button>
              </form>
            </nav>
          </ul>
        </div>
      </div>
    </nav>
    <!-- navbar -->