<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS + Express</title>
</head>
<body>
    <div class="entry">
        {{#if poweredByNode}}
            <span>{{nome}} {{tipo}}</span>
        {{else}}
            <b>Outro Framework JS</b>
        {{/if}}
    </div>
</body>
</html>