<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS + Express</title>
</head>
<body>
 <div class="container">
    <p>Alguns professores do Icomp/UFAM</p>
    <ul>
        {{#each profes}}
        <li>{{nome}} - sala {{sala}}</li>
         {{/each}}
    </ul>
   </div>
</body>
</html>