<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS + Express</title>
</head>
<body>
    <div class="container">
        <p>Tecnologias baseadas no NodeJS:</p>
        {{{listTechs technologies}}}
    </div>
</body>
</html>