



<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{produto.nome}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">R$ {{produto.preco}}</h6>
    <p class="card-text">Estoque: {{produto.estoque}}</p>
    <a href="#" class="card-link">Editar</a>
    <a href="#" class="card-link">Apagar</a>
  </div>
</div>