body {
    background-color: gray;
}

.conteudoASerGerado {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    min-height: 100px;
    background-color: yellow;
}
  
h1, label {
    margin-bottom: 20px;
    color: yellow;
}
  
label {
    font-weight: bolder;
}
  
input[type="number"] {
    width: 50px;
    margin-right: 10px;
}
  
button {
    padding: 5px 10px;
    border-radius: 30px;
}
 
